body{
    text-align: center;
    background-color: rgb(169,215,233);
}
#title{
    font-size: 46px;
}
#description{
    font-size: 22px;
}
#main{
    margin: auto;
    width: 40%;
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
    background-color: rgb(243, 243, 243);
}
.form-rows{
    position: static;
    display: block;
    padding: 10px 0;
}
.label-form{
    display: inline-block;
    text-align: right;
    width: 48%;
    vertical-align: top;
    padding-right: 5px;
}
.input{
    display: inline-block;
    text-align: left;
    width: 50%;
    vertical-align: top;
}
#name, #email, #number, #message{
    width: 280px;
}
#message{
    max-width: 280px;
}


